/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



@mixin button-gradient($color1, $color2) {
  background-color: $color1;
  background-image: -webkit-linear-gradient(top, $color1 20%, $color2 100%);
  background-image: -o-linear-gradient(top, $color1 20%, $color2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color1), to($color2));
  background-image: linear-gradient(to bottom, $color1 20%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=''+($color1), endColorstr=''+($color2), GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
}

@mixin transition($time){
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -ms-transition: all $time linear;
  -o-transition: all $time linear;
  transition: all $time linear;
  -webkit-appearance: fadeIn;
}

.big-btn{
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 20px;
}

.btn-orange{
  @include button-gradient($light-orange, $orange);
  border-color: $dark-orange;
  color: rgb(254, 252, 249);
  &:hover, &:focus{
    color: rgba(254, 252, 249, 1);
  }
}

body {
  background: $light-background;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 0.5px;
}

a {
  color: $link-color;
  &:hover, .facebook & {
    color: $link-color-hover;
  }
  cursor: pointer;
}

p {
  min-height: 20px;
}

hr{
  border-color: $light-grey;
}

label, .c-label{
  color: #b2b2b2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0 5px;
  word-break: break-word;
  td &{
    padding: 5px 10px;
  }
}

textarea{
  max-width: 100%;
  min-height: 135px;
}

#header {
  padding: 2% 0;
  font-size: 15px;

  #logo .logo {
    font-size: 30px;
    font-family: fantasy;
    color: $orange;
  }

  .sublogo {
    padding: 0;
    small {
      color: $orange;
      opacity: 0.9;
      font-size: 20px;
      font-family: monospace;
      vertical-align: -10px;
    }
  }

  .top-nav {
    line-height: 45px;
    margin-bottom: 20px;

    [data-toggle="dropdown"] {

      @extend .btn-orange;
      @extend .big-btn;

      border-color: $dark-orange;

      color: rgb(254, 252, 249);

    }

    .dropdown-menu {
      min-width: 100%;
      a {
        color: $grey;
      }
      .glyphicon {
        margin-left: -5px;
        margin-right: 5px;
      }
    }

  }

}

.orange {
  color: $orange;
}

h1, h2, h3, h4, h5, h6 {
  color: #5E5C5C;
  #header &, &.orange {
    color: $orange;
  }
  footer & {
    color: white;
  }
}

b.dot {
  color: inherit;
  vertical-align: 3px;
}

.form-group.c-input{
  margin-bottom: 0px;
  border: 1px solid $light-grey;
  padding: 0;

  .form-control{
    border: 0;
    padding: 15px 12px;
    border-color: $light-grey;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 50px;
    &:focus{
      //      background-color: rgba(220,234,241,1.0);
      background-color: $light-blue;
    }
    width: 100%;
    @include transition(0.3s);
  };

  .radio{
    margin: 10px;
  }
}

.form-inline.c-inline{
  margin-left: -1px;
  .form-group.c-input:nth-of-type(n+2) {
    margin-left: -1px;
  }
  .form-group.c-input:first-of-type {
    margin-left: 1px;
  }
  +&{
    margin-top: -1px;
  }
}

.form-group.c-input, .form-inline + .form-inline .form-group.c-input{
    margin-top: -1px;
}


.container-fluid {
  padding: 0;
}

.btn, .btn:hover, .btn:focus, .btn:active {
  outline-color: transparent;
}

.btn-lg{
  font-size: 17px;
}

.login {
  text-shadow: -0.5px -0.5px #322E2E;
  letter-spacing: 2px;
  font-family: sans-serif;
  &:hover, &:focus {
    text-decoration: none;
  }
  img{
    vertical-align: top;
    height: 100%;
  }
}

.winner-block {

  .btn {
    @include button-gradient($mixed-white, lighten($light-background, 80%));
    @extend .big-btn;

    color: $grey;

    .glyphicon-star {
      color: rgb(242, 203, 96);
    }
    .glyphicon-gift {
      color: rgb(231, 98, 98);
    }

    &:hover {
      @include button-gradient(transparent, transparent);
    }

  }

}

#main {

  .page-content {
    section:nth-of-type(n+2) {
      padding: 50px 70px;
    }
    [filter] section {
      padding: 15px 70px;
    }
    section#first {

      min-height: 550px;

      blockquote {
        padding: 8% 5%;
        font-size: 40px;
        border: 0;

        span {
          color: #DFE3E4;
          background-color: rgba(1, 1, 1, 0.7);
          &:nth-of-type(even) {
            color: $background-image;
          }
          padding: 0px 30px;
        }
      }

    }
    section:nth-of-type(2) {
      background-color: #FFFFFF;
      .btn {
        border-color: $orange;
        &:hover {
          @include button-gradient(transparent, transparent);
        }
      }
    }
    section:nth-of-type(3) {
      background-color: #F3F3F3;
      h2 {
        color: #46C595;
      }
      .btn {
        border-color: #46C595;
        &:hover {
          @include button-gradient(transparent, transparent);
        }
      }
    }
    section:last-of-type {
      background-color: #E1E3E5;
      h2 {
        color: #2E416C;
      }
      .btn {
        border-color: #2E416C;
        &:hover {
          @include button-gradient(transparent, transparent);
        }
      }
    }
  }

  .homepage{
    background: url("questions-wallpaper-2560x1600.jpg") no-repeat;
  }

  .container {
    padding: 0px;
    border-radius: 6px;
    background-color: rgba($mixed-white, 0.5);
    box-shadow: 0px 2px 1px 1px rgba(1,1,1,0.25);
    overflow: hidden;
    min-height: 500px;

  }


}

footer {
  background-color: $orange;
  position: relative;
  top: -50px;
  z-index: -1;
  margin-bottom: -50px;
  color: white;
  h2 {
    margin: 16% 0 10% 0;
    font-family: sans-serif;
  }
}

.space-block-t{
  margin-top: 40px;
}

.space-block-b{
  margin-bottom: 40px;
}

.space-block-b, .space-block-t{
  min-height: 1px;
  display: block;
}

.user-photo{
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}
.form-control.ng-dirty.ng-invalid {
  border: 1px solid red;

  &:focus{
    box-shadow: 0px 0px 3px -1px rgba(255, 0, 0, 0.8);
    outline-color: rgba(250, 37, 37, 0);
  }
  @include transition(0.2s);
}

.icon{
  max-width: 40px;
  max-height: 40px;
  margin-right: 8px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
}