

        <div class="apytanka-page page-content">
            <div class="container-fluid">
                <section id="first">
                    <blockquote class="text-uppercase">
                        <span>Чаго не хапае</span>
                        <br>
                        <span>твайму гораду?</span>
                        <br>
                        <span>Пакінь меркаванне</span>
                        <br>
                        <span>і мабыць гэта з'явіцца</span>
                    </blockquote>
                </section>
        <ng-include src="'filter.html'" include-replace></ng-include>
        </div>
        </div>

