<div class="clearfix apytanka-body">
    <div class="col-xs-3 col-sm-1 logo-block">
        <a ng-href="profile/{{apytanka.user.id}}">
            <img ng-src="{{apytanka.user.avatar}}" class="img-responsive">
            <cite class="text-muted author small">
                {{apytanka.user.name + ' ' + apytanka.user.surname}}
            </cite>
        </a>
    </div>
    <div class="col-xs-7 col-sm-10 descr-block">
        <h4><a ng-href="apytanka/{{apytanka.id}}">{{apytanka.title}}
            <br><small>{{apytanka.user.country.name}}, {{apytanka.user.city}}, {{apytanka.date}} </small></a></h4>

        <div>
            <p>
                {{apytanka.content}}
            </p>
        </div>
    </div>
    <div class="col-xs-2 col-sm-1 results text-center">
        <div class="col-xs-6">
            <h4>
                <a class="glyphicon glyphicon-heart" ng-click="apytanka.like()"></a>
            </h4>
            <!--<hr>-->
            {{apytanka.rating.likes.length}}
        </div>
        <div class="col-xs-6">
            <h4>
                <a class="glyphicon glyphicon-minus" ng-click="apytanka.dislike()"></a>
            </h4>
            <!--<hr>-->
            {{apytanka.rating.dislikes.length}}
        </div>
    </div>
</div>