 <div id="main">
        <div class="homepage page-content">
            <div class="container">
                <div>
                    <section id="first">
                        <blockquote  class="text-uppercase">
                            <span>BETTER QUESTIONS</span>
                            <br>
                            <span>RESULTS IN</span>
                            <br>
                            <span>BETTER ANSWERS</span>
                        </blockquote>
                    </section>
                    <section class="clearfix">
                        <img src="assets/563469251.png" class="img-rounded img-responsive pull-right col-sm-4">
                        <article class="col-xs-12 col-sm-8 pull-left">
                            <h2 class="orange">Есць <b class="dot">.</b> пытанне? Здойдзем таго, хто ведае адказ
                            </h2>

                            <p>Уявице пачынаючага вегетарыянца, які не ведае, ці небяспечна адмаўляцца ад мяса, чым яго можна замяніць і навогу, як сябе адчувае фізычна вегетарыянец.
                                Што ён пачне рабіць? Канешне гугліць і шукаць адказ на форумах. Але ён ніколі не даведаецца, хто на форуме параіў яму свае меркаванні. Мабыць гэта быў доктар, або
                                малы школьнік, які дзеля жарта напісаў, што лепей есць жучкоў, чым мяса.</p>

                            <p>Апытанка пакажа вашае паведамленне толькі тым, хто можа вам дапамагчы.
                                Калі ў чалавека ў цікавасцях ёсць таг "вегетарыянец", ен пабачыць вашае пытанне і дасць параду.</p>
                            <p>
                                <button type="button" class="btn btn-lg btn-default">Стварыць апытанку</button>
                                <button type="button" class="btn btn-lg btn-default">Удзельнічаць у апытанцы</button>
                            </p>
                        </article>
                    </section>
                    <section class="clearfix">
                        <img src="http://pngimg.com/upload/star_PNG1597.png" class="img-responsive img-rounded pull-left col-sm-4 col-sm-3">
                        <article class="pull-right col-xs-12 col-sm-8">
                            <h2>Як <b class="dot">.</b> узнагародзіць знаўцу?</h2>
                            <p>Канешне, дзяліцца сваімі ведамі вельмі прыемна,але яшчэ прыемней атрымоўваць за гэта падарункі.</p>
                            <p>Знаўцы атрымоўваюць зорачку-узнагароду за кожную апытанку і 5 зорачак за кожную зачыненую апытанку.</p>
                            <p>На свае зорачкі знаўца можа набыць падарунак. </p>
                            <p>
                                <a type="button" class="btn btn-lg btn-default" href="profile">Ахвяраваць 1$</a>
                                <a type="button" class="btn btn-lg btn-default" href="profile/2">Паглядзець падарункі</a>
                            </p>
                        </article>
                    </section>
                    <section class="clearfix">
                        <div id="main-carousel" class="carousel slide pull-right" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#main-carousel" data-slide-to="1"></li>
                                <li data-target="#main-carousel" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="https://d13yacurqjgara.cloudfront.net/users/41613/screenshots/1032957/graph.jpg" width="300">
                                    <div class="carousel-caption">
                                        <h3>Графічныя вынікі</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://d13yacurqjgara.cloudfront.net/users/5976/screenshots/1552217/owl_holding_key_logo_design_symbol_by_alex_tass.jpg" width="300">
                                    <div class="carousel-caption">
                                        <h3>Адказваюць свядомыя</h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="https://d13yacurqjgara.cloudfront.net/users/6191/screenshots/1599126/cat_dribbble.png" width="300">
                                    <div class="carousel-caption">
                                        <h3>Падарункі знаўцам</h3>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" data-target="#main-carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" data-target="#main-carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <article class="col-xs-12 col-sm-8">
                            <h2>Чаму <b class="dot">.</b> апытанка?</h2>
                            <ul>
                                <li>Вы задаеце пытанні свядучым людзям</li>
                                <li>Атрымоўваеце хуткі і зразумелы адказ у графічным, ці таблічным выглядзе</li>
                                <li>Можаце самі пазнычыць варыянты адказу, напрыклад: "добра", "дрэнна". <br>
                                    Знатакі не змогуць адказаць нешта паміж гэтымі варыянтамі і вы атрымаеце больш канкрэтызаваны адказ.</li>
                                <li>Магчымасць застаўляць каментары да адказаў.</li>
                                <li>Знатакі атрымоўваюць ўзнагароду за свае веды.</li>
                            </ul>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
