
    <div id="main"  ng-controller="editProfileRouteCtrl">
        <div class="profile container">
            <div class="clearfix">
                <h2>Профіль</h2>
                <hr>
                <aside class="col-sm-3 col-xs-5">
                    <ul class="list-unstyled">
                        <li ng-class="{ on : currentOn.about }">
                            <a class="center-block" href="about">
                                <span class="glyphicon glyphicon-user"></span> Пря мяне >>
                            </a>
                        </li>
                        <li ng-class="{ on : currentOn.apytanki }">
                            <a class="center-block" href="apytanki">
                                <span class="glyphicon glyphicon-list-alt"></span> Апытанкі >>
                            </a>
                        </li>
                        <li ng-class="{ on : currentOn.settings }">
                            <a class="center-block" href="settings">
                                <span class="glyphicon glyphicon-cog"></span> Налады >>
                            </a>
                        </li>
                    </ul>
                </aside>
                <div ng-switch on="renderPath[ 1 ]" class="col-sm-9 col-xs-7 pull-right">
                    <div ng-switch-when="about">
                        <div ng-include="'ng/templates/about-current-user.html'" include-replace></div>
                    </div>
                    <div ng-switch-when="apytanki" ng-controller="apytankaListCtrl">
                        <div filter filter-params="filter">
                            <div apytanka ng-repeat="apytanka in pagination.currentPage(pagination.pageIndex())" ng-model="apytanka"></div>
                        </div>
                    </div>
                    <div ng-switch-when="settings">
                        <div ng-include="'Staronka z settingami'" include-replace></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
